* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cabecera{
    background-color: #bcf4f9;
    color: #c1ad0a;
    padding: 20px;
    text-align: center;
    width: 100%;
}

#cabecera h1{
    font-size: 2rem;
    color: black;
}

#cabecera nav ul{
    list-style-type: none;
    padding: 10px 0;
}

#cabecera nav ul li{
    display: inline;
    margin: 0 15px;
}

#cabecera nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#cabecera nav ul li a:hover{
    text-decoration: underline;
    color: red;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td{
    border: 2px solid #3b3503;
}

th,td{
    padding: 12px;
    text-align: center;
}

th{
    background-color:#3d3c36 ;
    color: white;
}
